html {
    background-image: url("../media/Background.png");
    background-attachment: fixed;
    background-size: cover;
}

#mainRow {
    margin-top: 70px;
}

@media screen and (min-width: 768px) {

    #multidirectionNavbar {
        display: flex !important;
        flex-direction: column !important;
        height: 103vh !important;
    }

    #mainRow {
        margin: 20px 8px 10px 8px;
    }

}

@media screen and (min-width:1024px) {
    html {
        background-attachment: none !important;
        background-size: cover !important;
    }
}


#mobileNavbar {
    width: 103vw !important;
}


.svg-inline {
    display: inline;
    height: 20px;
}